.DS_Store
._*
Debug/
Release/
Release (Static)/
GeneratedFiles/
autom4te.cache/
*.vcxproj.user
*.suo
*.sdf
*.opensdf
heimdall-frontend/Makefile
heimdall/Makefile
heimdall/config.h
heimdall/config.log
heimdall/config.status
heimdall/heimdall
heimdall/libtool
heimdall/source/.deps/
heimdall/source/.dirstamp
heimdall/source/*.o
heimdall/stamp-h1
libpit/Makefile
libpit/Source/.deps/
libpit/Source/.dirstamp
libpit/Source/*.o
libpit/config.h
libpit/config.log
libpit/config.status
libpit/*.a
libpit/libtool
libpit/stamp-h1
